.articlePageContainer {
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  color: white;
  text-align: center;
}

.articleTitle {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.lastUpdated {
  color: #95a5a6;
  font-size: 0.9rem;
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.articleContent {
  padding-top: 0.25rem;
}

.articleContent p {
  line-height: 1.7;
  margin-bottom: 25px;
  color: #eee;
  font-size: 1rem;
  text-align: left;
}

@media (min-width: 640px) {
  .articlePageContainer {
    padding: 20px 0;
  }

  .articleTitle {
    font-size: 2.25rem;
  }

  .lastUpdated {
    margin-bottom: 40px;
  }

  .articleContent p {
    font-size: 1.05rem;
  }
}
