.articlePageContainer {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px 0;
  color: white;
}

.articleTitle {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.lastUpdated {
  color: #95a5a6;
  font-size: 0.9rem;
  margin-bottom: 40px;
  display: block;
  text-align: center;
}

.articleContent {
  padding-top: 0.25rem;
}

.articleContent p {
  line-height: 1.7;
  margin-bottom: 25px;
  color: #eee;
  font-size: 1.05rem;
  text-align: left;
}
